<app-navigation></app-navigation>
<div class="container">
    <div class="title">
        <h1>About</h1>
        <h2>Us</h2>
    </div>
    <div class="content">
        <p>PT. 21 EKSPRES merupakan perusahaan nasional yang bergerak dibidang jasa pengiriman paket dan dokumen melalui udara dan darat ke seluruh wilayah di Indonesia dengan Service Door to Door. PT. 21 EKSPRES berdiri pada tahun 1991 di Surabaya dan telah beroperasi di Jakarta sejak tahun 1992.</p>
        <p>Untuk meningkatkan pelayanan kami, saat ini kami telah memiliki cabang-cabang tersebar di seluruh Indonesia antara lain: Tangerang Bogor, Cirebon, Bandung, Semarang, Yogyakarta, Solo, Denpasar, Medan, Pekanbaru, Banjarmasin, Makasar, Manado, Ambon, Balikpapan, dan Samarinda.</p>
        <p>Seiring dengan semakin ketatnya persaingan di bidang jasa pengiriman di Indonesia, kami sanggup bertahan dan bersaing dengan Perusahaan jasa Pengiriman Besar lainnya dengan menunjukkan eksistensinya sebagai salah satu Perusahaan Jasa Pengiriman yang dapat di percaya dan layak dijadikan sebagai Mitra Kerja</p>
    </div>
    <div class="title">
        <h1>Vision</h1>
        <h2>& Mission</h2>
    </div>
    <div class="content-visi">
        <p class="subtitle">Vision</p>
        <p>Menjadi Perusahaan Ekspedisi yang dapat diandalkan dan dipercaya</p>
        <p class="subtitle">Mission</p>
        <p>Selalu berkomitmen untuk menjaga mutu pelayanan dan hubungan yang baik kepada setiap pelanggan serta terus berinovasi guna meningkatkan pelayanan</p>
    </div>
</div>
